<template>
  <svg :width="width" :height="height" class="icon" :class="{ 'icon-spin': spin }" :style="{ height: height + 'px', width: width + 'px' }">
    <use :xlink:href="`#${icon}`" />
  </svg>
</template>

<script>
export default {
  name: 'BaseSvgIcon',
  props: {
    icon: {
      type: String,
      required: true,
    },
    spin: {
      type: Boolean,
      default: false,
    },
    round: {
      type: Boolean,
      default: false
    },
    width: {
      type: String
    },
    height: {
      type: String
    }
  },
}
</script>

<style>
svg.icon {
  fill: currentColor;
  /*height: 1em;*/
  /*margin-bottom: 0.125em;*/
  vertical-align: middle;
  width: 20px;
  height: 20px;
  /*border-radius: 20px;*/
  /*background: #1E1F27;*/
  /*padding: 10px;*/
}
svg.icon-spin {
  animation: icon-spin 2s infinite linear;
  background: transparent;
}

svg.w20 {
  width: 20px;
}

@keyframes icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
</style>
