<template>
  <div :class="`base-card ${ round ? 'base-card--round' : '' }`">
    <div style="padding:10px">
      <div class="base-card_icon">
        <slot name="icon"></slot>
      </div>
    </div>
    <div class="base-card_content">
      <slot name="title"></slot>
      <slot name="subtitle"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BaseCard',
  props: {
    round: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped>
.base-card {
  background: #1E1F27 0% 0% no-repeat padding-box;
  display: flex;
  border-radius: 14px;
  margin: 10px 0 10px 0
}

.base-card_icon {
  display: flex;
  background: #252731 0% 0% no-repeat padding-box;
  border-radius: 20px;
  padding: 10px
}

.base-card_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0 10px
}

.base-card--round {
  background: #000000 !important;
  border-radius: 62px !important;
  width: fit-content;
}


</style>
