<template>
  <article style="flex: 0 0 50%; margin-right: 20px">
    <div style="text-align: left">
      <BaseText :message="name" caps bold :size="20"/>
      <div class="skill-level">
        <div class="skill-level__bar"></div>
        <div :class="`skill-level__percentage ${ percentage }`"></div>
      </div>
    </div>
  </article>
</template>

<script>
export default {
  name: 'BaseSkill',
  props: {
    name: {
      type: String,
      required: true,
    },
    percentage: {
      type: String,
      required: true,
      validation: function (value) {
        return ['ten','twenty','thirty','forty','fifty','sixty','seventy','eighty','ninety','hundred'].indexOf(value) !== -1;
      }
    }
  }
}
</script>

<style scoped>
.skill-level {
  position: relative;
  /*margin-bottom: 5mm;*/
}
.skill-level__bar {
  position: relative;
  height: 4mm;
  width: 100%;
  /*margin: 2mm 0;*/
  border-radius: 10px;
  border: 1px solid #13141A;
  background: #13141A;
}
.skill-level__percentage {
  position: absolute;
  height: 4mm;
  left: 0;
  top: 0;
  border-radius: 10px;
  background: linear-gradient(90deg, #4040E3, #3EDAFF);
}
.skill-level__percentage.ten {
  width: 10%;
  background: linear-gradient(90deg, #4040E3, #3EDAFF);

}
.skill-level__percentage.twenty {
  width: 20%;
  background: linear-gradient(90deg, #4040E3, #3EDAFF);

}
.skill-level__percentage.thirty {
  width: 30%;
  background: linear-gradient(90deg, #4040E3, #3EDAFF);

}
.skill-level__percentage.forty {
  width: 40%;
  background: linear-gradient(90deg, #4040E3, #3EDAFF);

}
.skill-level__percentage.fifty {
  width: 50%;
  background: linear-gradient(90deg, #4040E3, #3EDAFF);

}
.skill-level__percentage.sixty {
  width: 60%;
  background: linear-gradient(90deg, #4040E3, #3EDAFF);

}
.skill-level__percentage.seventy {
  width: 70%;
  background: linear-gradient(90deg, #4040E3, #3EDAFF);

}
.skill-level__percentage.eighty {
  width: 80%;
  background: linear-gradient(90deg, #4040E3, #3EDAFF);

}
.skill-level__percentage.ninety {
  width: 90%;
  background: linear-gradient(90deg, #4040E3, #3EDAFF);
}
.skill-level__percentage.hundred {
  width: 100%;
  background: linear-gradient(90deg, #4040E3, #3EDAFF);
}
</style>
