<template>
  <div class="cv-wrapper__sidebar">
    <div class="sidebar__top">
      <slot name="top"></slot>
    </div>
    <div class="sidebar__bottom">
      <slot name="bottom"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LeftSidebar'
}
</script>

<style scoped>
.cv-wrapper__sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 20%;
  background-color: whitesmoke;
}

.sidebar__top {
  padding: 10px;
  flex: 1 1 0px;
  background: transparent linear-gradient(210deg, #3F68EA 0%, #252731 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 35px #141A1F29;
  opacity: 1
}

.sidebar__bottom {
  padding: 10px 10px 0 10px;
  flex: 1 1 0px;
  background: #252731 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 35px #141A1F29;
  opacity: 1;
}

</style>
